<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<div>

    <header>
        <h1 id="h1" th:text="'Вопрос ' + ${question.getId()}"></h1>
    </header>
    <h3 th:text="${question.getQuestion()}"></h3>
    <ul th:each="test : ${question.getTestOptions()}">
        <li th:text="${test}"></li>
    </ul>

    <form th:method="GET" th:action="@{/tests/{id}(id=${question.getId() + 1})}" th:object="${question}">
        <input type="submit" value="Следующий вопрос">
    </form>
    <div align="center">
        <a th:href="@{/tests}">Вернутся на главную страницу</a>
    </div>
</div>
</body>
</html>