<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Question</title>
</head>
<body>
<div>

    <header>
        <h1 id="h1" th:text="'Вопрос ' + ${question.getId()}"></h1>
    </header>

    <form th:method="post" th:action="@{/tests/answer/{id}(id=${question.getId()})}" th:object="${question}">

        <h3 th:text="*{getQuestion()}"></h3>
        <ul>
            <li id="li" th:each="test : *{getTestOptions()}">
                <input type="radio" th:field="${question.answer}"   th:value="${test}"  th:name="testOptions"
                       onclick="document.getElementById('push').disabled = false">
                <label th:text="${test}"></label>
            </li>
        </ul>
        <input th:id="push" type="submit" value="Ответить" disabled>
    </form>


    <div align="center">
        <a th:href="@{/tests}">Вернутся на главную страницу</a>
    </div>
</div>
</body>
</html>